.middle {
  background-image: url("images/nelson3.jpeg");
  background-size: cover;

}
.header {
  background-color: olive;
}
.footer {
  background-color:olive;
}
.footer img{
  height: 5%;
  width: 5%;
}
img {
border-radius: 50%;
height: 320px;
width: 270px;
float: left;
padding-right: 30px;
}
h1  {
  font-family: monospace;
  text-decoration: underline;
}
h2  {
  text-align: center;
  font-family: fantasy;
}
h3  {
  text-decoration: overline;
    font-family: monospace;
}
.middle h1,ul {
  color: #fff;
}
.middle a  {
  background-color: #333;
  color: #fff;
}
.middle a:hover {
    background-color: #111;
}
ul  {
  font-size: 160%;
  font-weight: bold;
  font-family: monospace;
  list-style-type: none;
}
.middle {
  text-align: center;
}
