.middle {
  background-image: url("images/southafrica.jpg");
  background-size: cover;

}
.header {
  background-color: #9bf442;

}
img {
border-radius: 50%;
height: 290px;
width: 270px;
float: left;
padding-right: 30px;

}
h1  {
  font-family: monospace;
}
h2  {
  text-align: center;
  font-family: fantasy;
}
h3  {
  text-decoration: overline;
    font-family: monospace;
}
.middle h1,ul {
  color: #41d6f4;
}
